NODE_ENV=development

SERVER_HOST=127.0.0.1
SERVER_PORT=3070
WEB_PORT=5173

COMFYUI_BASE_URL=http://127.0.0.1:8000

APP_DATA_DIR=./.data
DATABASE_PATH=./.data/silent-pix.sqlite
APP_STORAGE_DIR=./.data/storage
COMFYUI_STORAGE_PREFIX=\\wsl.localhost\Ubuntu\path\to\silent-pix\.data\storage
COMFYUI_OUTPUT_DIR=/mnt/c/path/to/ComfyUI/output
